{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% load bootstrap5 %}
<!--<body id="page-top"> -->

<!-- Begin Page Content -->
{% block content %}
  {{ block.super }}
<div class="row text-center"  style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4 col-xs-4 menu1" >
        <a href="{% url 'ordenes:orden_form' %}" style="color:#fff; text-decoration: none;">
        <div class="menu" style=" background-color: #28B779;">
            <i class="fas fa-plus-circle" style="font-size: 100px; padding-top: 10px;"></i>
            <h2>Nueva Reparación</h2>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 menu1" >
        <a href="{% url 'ordenes:orden_list' %}" style="color:#fff; text-decoration: none;">
        <div class="menu" style=" background-color: #27A9E3;">
            <i class="fas fa-list-alt" style="font-size: 100px;"></i>
            <h2>Historial de reparación</h2>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 menu1" >
        <a href="{% url 'usuarios:clientes_list' %}" style="color:#fff; text-decoration: none;">
        <div class="menu" style=" background-color: #DA542E;">
            <i class="fas fa-users" style="font-size: 100px;"></i>
            <h2>Clientes</h2>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 menu1" >
        <a href="{% url 'productos:productos_list' %}" style="color:#fff; text-decoration: none;">
        <div class="menu" style=" background-color: #FFB848; ">
            <i class="fas fa-boxes" style="font-size: 100px; padding-top: 10px ;"></i>
            <h2>Repuestos</h2>
        </div>
    </a>
    </div>
    
    <div class="col-md-4 col-xs-4 menu1">
        <a href="{% url 'home:configuracion' %}" style="color:#fff; text-decoration: none;">
        <div class="menu" style=" background-color: #198c90;" >
            <i class="fas fa-cog" style="font-size: 100px; padding-top: 10px;"></i>
            <h2>Configuración</h2>
        </div>
        </a>
    </div>
</div>
{% endblock content %}