{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Editar Orden
{% endblock title %}

{% load bootstrap5 %}
<!--<body id="page-top"> -->

<!-- Begin Page Content -->
{% block content %}
  {{ block.super }}
  <div class="row text-center col-md-12" style="display: flex; justify-content: center; align-items: center;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1><strong>{{title}}</strong></h1>
      <div class="panel-body text-center">
        <div class="row text-center" style="display: flex; justify-content: center; align-items: center;">
          <h5>Datos Vehículo</h5>
          <div class="col-md-3">
            {% bootstrap_field vehiculo_form.tipo layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field vehiculo_form.marca layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field vehiculo_form.modelo layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field vehiculo_form.placa layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field vehiculo_form.password layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field orden_form.mecanico layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field orden_form.estado layout='horizontal' %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field orden_form.monto_cobrar layout='horizontal' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field orden_form.situacion layout='vertical' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field orden_form.observacion layout='vertical' %}
          </div>
          <div class="row col-md-3" style="padding: 10px;">
            <a class="btn btn-primary" onclick="agregarProducto()"> + Agregar productos</a>
          </div>
          <br>
          <div id="id_productos" class="content">
            {% for producto in productos_orden %}
            <div class="row" style="padding: 5px;">
              <div class="col-md-2">
                <a class="btn btn-danger" onclick="eliminarProducto(this)">Eliminar</a>
              </div>
              <div class="col-md-2" style="display: none;">
                <input id="id_producto_pk" class="form-control" name="pk_producto"  type="text" placeholder="pk_producto" value="{{producto.producto.pk}}">
              </div>
              <div class="col-md-4">
                <input id="id_producto" class="form-control"  type="text" name="detalle_producto" value="{{producto.detalle}}" list="producto_by_nombre" placeholder="Producto" onkeyup="buscarProducto(this)">
                <datalist id="producto_by_nombre"></datalist>
              </div>
              <div class="col-md-3">
                <input id="id_cantidad" class="form-control" type="number" name="cantidad_producto" placeholder="Cantidad" value="{{producto.cantidad}}">
              </div>
              <div class="col-md-3">
                <input id="id_precio" class="form-control" type="number" name="precio_producto"  placeholder="Precio" onKeyUp=calcularCosto() value="{{producto.pvp}}">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="panel-footer text-right" style="padding-bottom: 20px; padding-top: 20px;">
        <a type="button" href="{% url 'ordenes:orden_list' %}" class="btn btn-primary" type="submit">Volver</a>
        <button type="submit" class="btn btn-success" id="btn-guardar-usuario">
            Guardar
        </button>
      </div>
    </form>
</div>


<script type="text/javascript">
  const url = "{{ request.scheme }}:{{ request.META.HTTP_HOST }}";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="{% static 'js/orden.js' %}"></script>
<script type="text/javascript" src="{% static 'js/usuario.js' %}"></script>


{% endblock content %}